@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');
		
html, body {
	font-family: 'Ubuntu Mono', monospace;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}

*:focus{
  outline: none;
}

.slide{
	display: flex;
	background: #ddd url(http://www.noisepng.com/256-65-5.png) top center;
	justify-content: center;
	justify-items: center;
}

.container{
	position: relative;
	width: 100%;
}

.text-typing {
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-weight: 100;
	font-size: 90px;
	color: #212121;
}

#welcome-text{
	width: 500px;
	height: 450px;
}

.bubble{
	position: absolute;
	display: inline-flex;
	line-height: 1.5;
	top: 35px;
	right: 35px;
	--color: #212121;
	color: var(--color);
	border: 2px solid var(--color);
	border-radius: 290486px;
	font-family: "europa", sans-serif;
  font-weight: 400;
  font-size: 20px;
	padding: 6px 15px 5px 15px;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	justify-content: center;
	transition: all .2s ease-in-out;
}

.bubble:hover, .bubble:focus {
	background-color: var(--color);
	border-color: var(--color);
	color: #fff;
}

#say-hello{
	--color: #555;
}

@media (orientation: portrait) {
	#say-hello{
		left: 50px;
		right: 50px;
		font-size: 75px;
		font-weight: 600;
		border-width: 7.5px;
	}

	#welcome-text{
		font-size: 180px;
		width: 90%;
		height: 40%;
	}
}

@media (orientation: landscape) {
	#say-hello{
		display: block;
	}
}